* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-primary: #f9fafc;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafb;
}

footer {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
