@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary: #f9fafc;
  --secondary: #ffffff;
  --header-border: #e5e7eb;
  --header-logo: #121826;
  --switch-theme: #ffffff;
  --border-dashed: #e5e7eb;
  --border-img: #f9fafb;
  --text: #121826;
  --transition-duration: 0.2s;
}

html.dark {
  color-scheme: dark;
  --primary: #121826;
  --secondary: #212936;
  --header-border: #212936;
  --header-logo: #f9fafb;
  --switch-theme: #4d5562;
  --border-dashed: #4d5562;
  --border-img: #212936;
  --text: #f9fafbcc;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background-color: #fafafb;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
