.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  background-color: var(--light-primary);
}

.Header-logo {
  display: flex;
}

.Header-button {
  display: flex;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 0.5em;
  background-color: white;
  padding: 0.4em;
}
